<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uinetworks.newdeal.mapper.MainMapper">
    <select id="selectGrid" resultType="com.uinetworks.newdeal.domain.GridVO">
        SELECT *
        FROM TB_GRID;
    </select>

    <select id="selectPlan" resultType="com.uinetworks.newdeal.domain.PlanVO">
        select *
        from "plan"
        where plan_num=1
    </select>

    <select id="selectStGrid" resultType="com.uinetworks.newdeal.domain.StGridVO">
        SELECT *
        FROM "ST_GRID"
    </select>

    <select id="daysCount" resultType="java.lang.Integer">
        select count(*)
        from "calendar"
        where 1=1
            and num_week not in (1, 7)
            and holiday not in (1)
            and sol_dash_date between #{from} and #{to}
    </select>

<!-- 0단계 -->
    <!-- 전체 그리드 갯수 -->
    <select id="lv0TotalGrid" resultType="java.lang.Integer">
        select count(*)
        from "tb_grid"
    </select>

    <select id="lv0ValidGrid" resultType="java.lang.Integer">
        select count(*)
        from "tb_grid"
        where 1=1
            and level=0
            and init_grd_tp = 1
            or fin_grd_tp = 1
    </select>

    <select id="lv0InvalidGrid" resultType="java.lang.Integer">
        select count(*)
        from "tb_grid"
        where 1=1
          and work_level = 0
          and init_grd_tp = 0
    </select>

<!--  1단계 -->
    <select id="lv1DrawGrid" resultType="java.lang.Integer">
        select count(*)
        from "tb_grid"
        where 1=1
            and work_level = 1
            and init_grd_tp = 0
            and u_de is not null
    </select>

    <select id="lv1ValidGrid" resultType="java.lang.Integer">
        select count(*)
        from "tb_grid"
        where 1=1
          and level in (0, 1)
          and init_grd_tp = 1
    </select>

    <select id="lv1TotalGrid" resultType="java.lang.Integer">
        select count(*)
        from "tb_grid"
        where 1=1
          and work_level = 1
          and init_grd_tp = 0
    </select>

</mapper>
